@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

@import './components/Sidebar';

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 1em;

    &:hover {
        color: #555;
    }

    &.active {
        color: #999;
    }
}

.modal {
    &.shown {
        display: block;
    }
}